# **Etapa de Extração**

In [4]:
!pip install pandera

Requirement already satisfied: pandera in /usr/local/lib/python3.7/dist-packages (0.6.5)
Requirement already satisfied: pandas>=0.25.3 in /usr/local/lib/python3.7/dist-packages (from pandera) (1.1.5)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.7/dist-packages (from pandera) (3.7.4.3)
Requirement already satisfied: numpy>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from pandera) (1.19.5)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from pandera) (21.0)
Requirement already satisfied: wrapt in /usr/local/lib/python3.7/dist-packages (from pandera) (1.12.1)
Requirement already satisfied: typing-inspect>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from pandera) (0.7.1)
Requirement already satisfied: pyparsing>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.0->pandera) (2.4.7)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.3->pandera) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.3->pandera) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.25.3->pandera) (1.15.0)
Requirement already satisfied: mypy-extensions>=0.3.0 in /usr/local/lib/python3.7/dist-packages (from typing-inspect>=0.6.0->pandera) (0.4.3)

In [5]:
import pandas as pd
import pandera as pa

In [34]:
df = pd.read_csv('/content/ocorrencia_2010_2020.csv', sep = ';')
df

      codigo_ocorrencia  ...  total_recomendacoes
0                 40211  ...                    0
1                 40349  ...                    0
2                 40351  ...                    0
3                 39527  ...                    0
4                 40324  ...                    0
...                 ...  ...                  ...
5747              79804  ...                    0
5748              79757  ...                    0
5749              79802  ...                    0
5750              79756  ...                    0
5751              79844  ...                    0

[5752 rows x 9 columns]

In [7]:
df.dtypes

codigo_ocorrencia            int64
codigo_ocorrencia2           int64
ocorrencia_classificacao    object
ocorrencia_cidade           object
ocorrencia_uf               object
ocorrencia_aerodromo        object
ocorrencia_dia              object
ocorrencia_hora             object
total_recomendacoes          int64
dtype: object

In [8]:
#como dia é formato data, trocamos:
df = pd.read_csv('/content/ocorrencia_2010_2020.csv', sep = ';', parse_dates=['ocorrencia_dia'])
df

      codigo_ocorrencia  ...  total_recomendacoes
0                 40211  ...                    0
1                 40349  ...                    0
2                 40351  ...                    0
3                 39527  ...                    0
4                 40324  ...                    0
...                 ...  ...                  ...
5747              79804  ...                    0
5748              79757  ...                    0
5749              79802  ...                    0
5750              79756  ...                    0
5751              79844  ...                    0

[5752 rows x 9 columns]

In [9]:
df.head(5)

   codigo_ocorrencia  codigo_ocorrencia2  ... ocorrencia_hora total_recomendacoes
0              40211               40211  ...        12:00:00                   0
1              40349               40349  ...        11:05:00                   0
2              40351               40351  ...        03:00:00                   0
3              39527               39527  ...        17:30:00                   0
4              40324               40324  ...        19:25:00                   0

[5 rows x 9 columns]

In [10]:
df.ocorrencia_dia.dt.month

0        3
1        3
2        3
3        4
4        5
        ..
5747    12
5748    12
5749    12
5750    12
5751    12
Name: ocorrencia_dia, Length: 5752, dtype: int64

# **Etapa de Validação**

**Validação 1: consertando a data (dia-mes trocado)**

In [40]:
df = pd.read_csv('/content/ocorrencia_2010_2020.csv', sep = ';', parse_dates=['ocorrencia_dia'], dayfirst=True)
df

      codigo_ocorrencia  ...  total_recomendacoes
0                 40211  ...                    0
1                 40349  ...                    0
2                 40351  ...                    0
3                 39527  ...                    0
4                 40324  ...                    0
...                 ...  ...                  ...
5747              79804  ...                    0
5748              79757  ...                    0
5749              79802  ...                    0
5750              79756  ...                    0
5751              79844  ...                    0

[5752 rows x 9 columns]

**Essa etapa aqui serve para validar nosso dados, pois não basta só consertar a data da forma acima, pois existem casos que a data pode estar fora do padrão (exemplo colocar mês 15, sendo que pode até 12) e o código acima não faz a identificação disso.**

*biblioteca panderas para criar um schema.*

In [12]:
schema = pa.DataFrameSchema(
    columns = {
        'codigo_ocorrencia': pa.Column(pa.Int),
        'codigo_ocorrencia2': pa.Column(pa.Int),
        "ocorrencia_classificacao": pa.Column(pa.String),
        "ocorrencia_cidade": pa.Column(pa.String),
        "ocorrencia_uf": pa.Column(pa.String),
        "ocorrencia_aerodromo": pa.Column(pa.String),
        "ocorrencia_dia": pa.Column(pa.DateTime),
        "ocorrencia_hora": pa.Column(pa.String, nullable=True),
        "total_recomendacoes": pa.Column(pa.Int)
    }
)

*se passar, é pq tá tudo ok; senão, volta pra célula anterior e modifica algum parâmetro
i.e: nullable=True* *texto em itálico*

In [13]:
schema.validate(df)

      codigo_ocorrencia  ...  total_recomendacoes
0                 40211  ...                    0
1                 40349  ...                    0
2                 40351  ...                    0
3                 39527  ...                    0
4                 40324  ...                    0
...                 ...  ...                  ...
5747              79804  ...                    0
5748              79757  ...                    0
5749              79802  ...                    0
5750              79756  ...                    0
5751              79844  ...                    0

[5752 rows x 9 columns]

*Fazendo uma validação do horário, coluna 'ocorrencia_hora', usando expressão regulares, limitando os valores para até 23:59:59*

In [14]:
schema = pa.DataFrameSchema(
    columns = {
        'codigo_ocorrencia': pa.Column(pa.Int),
        'codigo_ocorrencia2': pa.Column(pa.Int),
        "ocorrencia_classificacao": pa.Column(pa.String),
        "ocorrencia_cidade": pa.Column(pa.String),
        "ocorrencia_uf": pa.Column(pa.String),
        "ocorrencia_aerodromo": pa.Column(pa.String),
        "ocorrencia_dia": pa.Column(pa.DateTime),
        "ocorrencia_hora": pa.Column(pa.String, pa.Check.str_matches(r'^([0-1]?[0-9]|[2][0-3]):([0-5]?[0-9]):([0-5]?[0-9])?$'), nullable=True),
        "total_recomendacoes": pa.Column(pa.Int)
    }
)

In [15]:
schema.validate(df)

      codigo_ocorrencia  ...  total_recomendacoes
0                 40211  ...                    0
1                 40349  ...                    0
2                 40351  ...                    0
3                 39527  ...                    0
4                 40324  ...                    0
...                 ...  ...                  ...
5747              79804  ...                    0
5748              79757  ...                    0
5749              79802  ...                    0
5750              79756  ...                    0
5751              79844  ...                    0

[5752 rows x 9 columns]

*Fazendo uma validação do horário, coluna 'ocorrencia_uf', usando expressão regulares, limitando a string para no min 2 e max 2*

In [16]:
schema = pa.DataFrameSchema(
    columns = {
        'codigo_ocorrencia': pa.Column(pa.Int),
        'codigo_ocorrencia2': pa.Column(pa.Int),
        "ocorrencia_classificacao": pa.Column(pa.String),
        "ocorrencia_cidade": pa.Column(pa.String),
        "ocorrencia_uf": pa.Column(pa.String, pa.Check.str_length(2,2)),
        "ocorrencia_aerodromo": pa.Column(pa.String),
        "ocorrencia_dia": pa.Column(pa.DateTime),
        "ocorrencia_hora": pa.Column(pa.String, pa.Check.str_matches(r'^([0-1]?[0-9]|[2][0-3]):([0-5]?[0-9]):([0-5]?[0-9])?$'), nullable=True),
        "total_recomendacoes": pa.Column(pa.Int)
    }
)

In [17]:
schema.validate(df)

      codigo_ocorrencia  ...  total_recomendacoes
0                 40211  ...                    0
1                 40349  ...                    0
2                 40351  ...                    0
3                 39527  ...                    0
4                 40324  ...                    0
...                 ...  ...                  ...
5747              79804  ...                    0
5748              79757  ...                    0
5749              79802  ...                    0
5750              79756  ...                    0
5751              79844  ...                    0

[5752 rows x 9 columns]

*Caso estejamos usando uma alteração de colunas, onde as vezes ela é requerida,
as vezes não, usamos o required.*

In [18]:
schema = pa.DataFrameSchema(
    columns = {
        'coluna_variavel': pa.Column(pa.String, required=False),
        'codigo_ocorrencia': pa.Column(pa.Int),
        'codigo_ocorrencia2': pa.Column(pa.Int),
        "ocorrencia_classificacao": pa.Column(pa.String),
        "ocorrencia_cidade": pa.Column(pa.String),
        "ocorrencia_uf": pa.Column(pa.String, pa.Check.str_length(2,2)),
        "ocorrencia_aerodromo": pa.Column(pa.String),
        "ocorrencia_dia": pa.Column(pa.DateTime),
        "ocorrencia_hora": pa.Column(pa.String, pa.Check.str_matches(r'^([0-1]?[0-9]|[2][0-3]):([0-5]?[0-9]):([0-5]?[0-9])?$'), nullable=True),
        "total_recomendacoes": pa.Column(pa.Int)
    }
)

# **Etapa de Limpeza**

*Iremos usar uma função para certificar se realmente uma determinada coluna contém valores únicos em comparação as outras linhas*

In [21]:
df.codigo_ocorrencia.is_unique

True

*Como essa coluna contém valores únicos, iremos colocar o índice de cada linha desse df para os valores contidos nessa coluna*
*`não é necessário, porém ajuda em diminuir futuros erros`*

In [22]:
df.set_index('codigo_ocorrencia', inplace= True) #inplace para atualizar diretamente o df
df

                   codigo_ocorrencia2  ... total_recomendacoes
codigo_ocorrencia                      ...
40211                           40211  ...                   0
40349                           40349  ...                   0
40351                           40351  ...                   0
39527                           39527  ...                   0
40324                           40324  ...                   0
...                               ...  ...                 ...
79804                           79804  ...                   0
79757                           79757  ...                   0
79802                           79802  ...                   0
79756                           79756  ...                   0
79844                           79844  ...                   0

[5752 rows x 8 columns]

In [29]:
df.reset_index(drop=True, inplace=True)
df

      codigo_ocorrencia2  ... total_recomendacoes
0                  40211  ...                   0
1                  40349  ...                   0
2                  40351  ...                   0
3                  39527  ...                   0
4                  40324  ...                   0
...                  ...  ...                 ...
5747               79804  ...                   0
5748               79757  ...                   0
5749               79802  ...                   0
5750               79756  ...                   0
5751               79844  ...                   0

[5752 rows x 8 columns]

*Realizando backup em uma coluna*

In [23]:
df['ocorrencia_aerodromo_backup'] = df.ocorrencia_aerodromo
df

                   codigo_ocorrencia2  ... ocorrencia_aerodromo_backup
codigo_ocorrencia                      ...
40211                           40211  ...                        ****
40349                           40349  ...                        SBBE
40351                           40351  ...                        SBRJ
39527                           39527  ...                        ****
40324                           40324  ...                        SBPK
...                               ...  ...                         ...
79804                           79804  ...                        SBKP
79757                           79757  ...                        ****
79802                           79802  ...                        SBGL
79756                           79756  ...                        ****
79844                           79844  ...                        SBJR

[5752 rows x 9 columns]

*Excluindo uma coluna toda*

In [26]:
df.drop('ocorrencia_aerodromo_backup', axis = 1, inplace = True)
df

                   codigo_ocorrencia2  ... total_recomendacoes
codigo_ocorrencia                      ...
40211                           40211  ...                   0
40349                           40349  ...                   0
40351                           40351  ...                   0
39527                           39527  ...                   0
40324                           40324  ...                   0
...                               ...  ...                 ...
79804                           79804  ...                   0
79757                           79757  ...                   0
79802                           79802  ...                   0
79756                           79756  ...                   0
79844                           79844  ...                   0

[5752 rows x 8 columns]

*Modificando uma coluna toda*

In [27]:
df['ocorrencia_aerodromo'] = 2
df

                   codigo_ocorrencia2  ... total_recomendacoes
codigo_ocorrencia                      ...
40211                           40211  ...                   0
40349                           40349  ...                   0
40351                           40351  ...                   0
39527                           39527  ...                   0
40324                           40324  ...                   0
...                               ...  ...                 ...
79804                           79804  ...                   0
79757                           79757  ...                   0
79802                           79802  ...                   0
79756                           79756  ...                   0
79844                           79844  ...                   0

[5752 rows x 8 columns]

*Modificando uma linha toda*

In [31]:
df.loc[1] = 'oi'
df

     codigo_ocorrencia2 ocorrencia_classificacao  ... total_recomendacoes   1
0                 40211                INCIDENTE  ...                   0  oi
1                    oi                       oi  ...                  oi  oi
2                 40351                INCIDENTE  ...                   0  oi
3                 39527                 ACIDENTE  ...                   0  oi
4                 40324                INCIDENTE  ...                   0  oi
...                 ...                      ...  ...                 ...  ..
5747              79804                INCIDENTE  ...                   0  oi
5748              79757          INCIDENTE GRAVE  ...                   0  oi
5749              79802                INCIDENTE  ...                   0  oi
5750              79756          INCIDENTE GRAVE  ...                   0  oi
5751              79844                INCIDENTE  ...                   0  oi

[5752 rows x 9 columns]

*Modificando um valor específico no dataframe*

In [32]:
df.loc[1, 'codigo_ocorrencia2'] = 'ola'
df

     codigo_ocorrencia2 ocorrencia_classificacao  ... total_recomendacoes   1
0                 40211                INCIDENTE  ...                   0  oi
1                   ola                       oi  ...                  oi  oi
2                 40351                INCIDENTE  ...                   0  oi
3                 39527                 ACIDENTE  ...                   0  oi
4                 40324                INCIDENTE  ...                   0  oi
...                 ...                      ...  ...                 ...  ..
5747              79804                INCIDENTE  ...                   0  oi
5748              79757          INCIDENTE GRAVE  ...                   0  oi
5749              79802                INCIDENTE  ...                   0  oi
5750              79756          INCIDENTE GRAVE  ...                   0  oi
5751              79844                INCIDENTE  ...                   0  oi

[5752 rows x 9 columns]

**fiz um reset (compilei o df novamente) a partir daqui**

Fazendo uma varredura dos valores incorretos no .csv, temos:

ocorrencia_uf
**

ocorrencia_aerodromo
###
####
\***
\****

ocorrencia_hora
NULL

In [41]:
df.replace(['**', '###!', '####', '***', '****'], pd.NA, inplace=True)
df

      codigo_ocorrencia  ...  total_recomendacoes
0                 40211  ...                    0
1                 40349  ...                    0
2                 40351  ...                    0
3                 39527  ...                    0
4                 40324  ...                    0
...                 ...  ...                  ...
5747              79804  ...                    0
5748              79757  ...                    0
5749              79802  ...                    0
5750              79756  ...                    0
5751              79844  ...                    0

[5752 rows x 9 columns]

In [42]:
df.tail()

      codigo_ocorrencia  ...  total_recomendacoes
5747              79804  ...                    0
5748              79757  ...                    0
5749              79802  ...                    0
5750              79756  ...                    0
5751              79844  ...                    0

[5 rows x 9 columns]